<configuration>
    <property name="log.dir" value="logs" />
    <property scope="system" name="logDir" value="logs/core" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="root_file" class="ch.qos.logback.core.FileAppender">
        <file>${logDir}/root_error.log</file>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="app_log_file" class="ch.qos.logback.core.FileAppender">
        <file>${logDir}/app_logs.log</file>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="hibernate_file" class="ch.qos.logback.core.FileAppender">
        <file>${logDir}/hibernate.log</file>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="hikari_file" class="ch.qos.logback.core.FileAppender">
        <file>${logDir}/hikari.log</file>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="org.hibernate" level="INFO">
        <appender-ref ref="hibernate_file" />
    </logger>
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="INFO">
        <appender-ref ref="hikari_file" />
    </logger>        
    <logger name="self.dsa.core" level="DEBUG">
        <appender-ref ref="app_log_file" />
    </logger>    
    <root level="DEBUG">
        <appender-ref ref="root_file" />
    </root>
</configuration>